---
layout: default
title: Tags
---
<div class="teaserimage">
    <div class="teaserimage-image" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }})"{% endif %}>
        Teaser Image
    </div>
</div>

<header class="blog-header">
    {% if site.logo %}
      <a class="blog-logo" href="{{site.url}}{{site.baseurl}}" style="background-image: url('{{ site.logo | prepend: site.baseurl }}')">{{ site.title }}</a>
    {% endif %}
    <h1 class="blog-title">{{ site.title }}</h1>
    <h2 class="blog-description">{{ site.description }}</h2>
    <div class="custom-links">
      <a href={{ "/resources/" | prepend: site.baseurl }}>Resources</a></a>&nbsp;&nbsp;·&nbsp;&nbsp;
      {% for social in site.social %}
        {% if social.url %}
            <a class="icon-{{ social.icon }}" href="{{ social.url }}" {% if social.desc %} title="{{ social.desc }}"{% endif %}">
              <i class="fa-brands fa-{{ social.icon }}"></i>
            </a>
            &nbsp;&nbsp;·&nbsp;&nbsp;
        {% endif %}
      {% endfor %}
      <a href={{ "/about/" | prepend: site.baseurl }}>About
    </div>
</header>

<main class="content" role="main">
    {% assign tag_slug = page.url | split: '/' | last | slugify %}

    {% if site.tags.featured %}
    <h5 class="index-headline featured"><span>{{ page.url }}</span></h5>
    <h1>{{ page.title }}</h1>
<p>URL: {{ page.url }}</p>
<p>Path: {{ page.path }}</p>
<p>Tags: {{ page.tags | join: ', ' }}</p>
<p>Absolute URL: {{ page.url | absolute_url }}</p>

    <div class="container featured">
      {% for post in site.tags.featured %}
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
          <div class="article-item">
            <header class="post-header">
              <h2 class="post-title" itemprop="name"><a href="{{ post.url | prepend: site.baseurl }}" itemprop="url">{{ post.title }}</a></h2>
            </header>
            <section class="post-excerpt" itemprop="description">
              <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
            </section>
            <div class="post-meta">
              <time datetime="{{ post.date | date_to_long_string }}">{{ post.date | date_to_long_string }}</time>
              <!-- , tagged on {% for tag in page.tags %}<span class="post-tag-{{tag}}">{% if forloop.first %}{% else %}, {% endif %}<a href="/tag/{{tag}}">{{tag}}</a></span>{% endfor %} -->
            </div>
          </div>
        </article>
      {% endfor %}
    </div>
    {% endif %}
</main>